<h1>Campaigns</h1>
<h3>Marketing is Dead. Long Live Marketing.</h3>

<ul>
	<li>Build a great and memorable product</li>
	<li>Tell a Good Story (that can be repeated)</li>
	<li>Make it easy for people to repeat the story</li>
	<li>Build permission based marketing assets where people seek out your information</li>
	<li>Coordinate marketing efforts with targeted and personal sales communication</li>
</ul>	


<div class="campaign">
	<h3>IdeaBook</h3>
	<p>We created a way to crowd-source which product enhancement ideas were the best ones to add to the system by asking our users to submit ideas and then vote on their favorite. The most popular ideas rose to the top and were added; less popular ideas were encouraged to influence others by comments and screenshots.</p>
</div>

<div class="campaign">
	<h3>Travis Blog</h3>
	<p>We launched our blog in August 2008; late to the social media scene, The <a href="http://blog.travisoft.com">blog</a> launched and built a level of trust between our users. When the 2009 Stimulus package launched, we used the blog as a vehicle to disseminate information quickly and answer user questions. Without the blog, our phone lines would have been overloaded and we could not have kept up.</p>
</div>

<div class="campaign">
	<h3>Permission Email on Blog</h3>
	<p>For customers who do not use RSS, we built a campaign to deliver information to them via email -- but only if they requested it. Over 20% of our customer base signed up for the email delivery; that percentage surprised even me!</p>
</div>

<div class="campaign">
	<h3>DevCenter</h3>
	<p>When WebCOBRA was launched we included a highly sophisticated API that was unique across Travis' product line. Instead of asking our support staff to learn how to program, we setup a center for IT staff and developers to submit questions, download sample code, and help the community out. An example of this working perfectly is highlighted on: <a href="http://devcenter.webcobra.com/conversations/156.aspx">http://devcenter.webcobra.com/conversations/156.aspx</a></p>
</div>
