
<h2 title="I am smart and I get things done">
        	My name is <em>Jesse</em><br/>I am <em>smart</em><br/>I <em>get things done</em></h2>
            <h3>I cannot stand complacency. I make things happen. You need more people like me. However, people with my skills are rare.
           
           </h3>

<h3><a href="/profile">About Jesse</a> &#160;&#160;<a href="/my-next-company">About You</a> &#160;&#160; <a href="next-steps">The Challenge</a></h3>

