<h1>Meta | <em>About This Site</em></h1>

<h4>Inspiration</h4>
<p>I took great inspiration for this site from:</p>


<ul>
  <li><strong>"Smart and Gets Things Done"</strong>: By <a href="http://www.joelonsoftware.com/items/2007/06/05.html">Joel Spolksy</a>. He wrote a book on hiring technical talent that I really liked.</li>
  <li><strong>Susan Hires her Boss</strong> By Susan Lewis. Susan <a href="http://main.susanhiresaboss.com/">hired her boss</a> following an alternative MBA program with Seth Godin. I loved the idea so much I created this site.</li>
</ul>

<div class="content_left">
<h4>The Site</h4>
<p>This site is written in Ruby on the <a href="http://www.sinatrarb.com">Sinatra framework</a>. I used Sinatra because I didn't need a database (or else I would have used rails) and wanted to learn something new. <em>This is probably one of the reasons you'll love working with me.</em></p>

<p>You can view the source for this site at the <a href="http://github.com/jwo/jessewolgamott/tree/master">GitHub Repository</a>.</p>

</div>

<div class="content_right">
<h4>The Design</h4>
<p>Many thanks to my graphics designer, Akhil, for his work on this design. I kept telling Akhil, "Simpler, Simpler" until I'm sure he was ready to jettison me. He is a great designer and can be found at <a href="http://styledbyakhil.com">styledbyakhil.com</a>.</p>

<h4>The Fonts</h4>
<p>
The h2 and h3 fonts on this site are created using Cufon -- it's very very cool. It will style your headings out as if you took the time to create graphics in photoshop. We only used Arial here, but its a way to embed American Typewriter, etc.
</p>
</div>
