<h1>My <em>Next Company</em></h1>
<h3>Yes, I'm picky -- you should be too</h3>

<h3><a href="/profile">About Jesse</a> &#160;&#160;<a href="/my-next-company" class="active">About You</a> &#160;&#160; <a href="next-steps">The Challenge</a></h3>

<p>We spend more time at work than we do at home; that's why I'm being picky with my next team.</p>

<p>Together, we'll need to work on a memorable product; I don't care about Titles, but some that fit include Chief Technology Officer, Chief Marketing Officer, Product Manager, Software Development Manager, etc.</p>
<ul>
	<li><strong>Works on interesting problems</strong></li>
	<li><strong>Respects its team members</strong></li>
	<li><strong>Changes the world for the better</strong></li>
	<li><strong>Has an eye on profitability</strong></li>
</ul>

<p>That company and opportunity is out there; I know it is. Does your team make the cut?</p>

<br/>
<div id="next-step" class="clearfix">
	<h3 title="The Next Steps"><a href="/next-steps">The Next Steps</a></h3>
	<p>How you can ask me to be your team member?</p>
</div>

