<h2>Our <em>Next Steps</em></h2>
<h3>OK, so you like me and want to try this out. Here's how this will work:</h3>
<h3><a href="/profile">About Jesse</a> &#160;&#160;<a href="/my-next-company">About You</a> &#160;&#160; <a href="next-steps" class="active">The Challenge</a></h3>

<ol>
	<li>You read this site and decide you like me.</li>
	<li>You contact me -- either through jesse dot wolgamott at gmail, or google voice at 713-234-0361.</li>
	<li>I'll reply and say I've got it.</li>
	<li>I will do research on you and your team.</li>
	<li>We'll talk for the first time. Using <a href="/meta">Susan's</a> idea of a 10 minute video chat works, but we can come up with anything.</li>
	<li>We get together for coffee.</li>
	<li>I come shadow you for at least half a day. I'm hiring the entire company, not just you, so I need to see the entire operation and get a real look at how you operate.</li>
	<li>We do the negotiation and work out the details.</li>
	<li>I show up for work and blow you away and we're both thrilled.</li>
</ol>   

<br/>
<p>This was inspired by Susan Hires a Boss -- check out the <a href="/meta">Meta</a> page for information about this site and my inspiration.</p>