<h2>Executive <em>Profile</em></h2>
<h3>I am <em>Smart and Get Things Done</em>. I believe in the power of a team.</h3>

<h3><a href="/profile" class="active">About Jesse</a> &#160;&#160;<a href="/my-next-company">About You</a> &#160;&#160; <a href="next-steps">The Challenge</a></h3>

<p>A Software Developer by trade, I have 3 years of experience in executive management. I have 10+ years experience developing software for the web, including high performance and high availability, distributed systems. <em>That's honestly just a fancy way of saying I write things that work</em> - even when stuff breaks.</p>

<p>I have worn most of the hats you can wear in a company; I prepared Travis Software's internal Financial Reports, led the marketing effort and championed the use of permission based marketing. I also ran the product development, IT, and customer service functions of the house as well.</p>

<p>With sales -- I have contacts at some of the largest insurance agencies in the country: Blue Cross/Blue Shield of Tennessee, United Healthcare, Unicare, etc. I just name-dropped because while Travis Software was small, our clients were the largest in the country.</p>

<p>I have significant technical expertise and thrive in both the Microsoft stack (C#/SQL Server) and the Free stack (Ruby/Rails/MySQL). I believe strongly in Agile Software Development and have ported its philosophies to general business management. Read about how this site was created, and even view the code, at the <a href="/meta">Meta</a> page.</p>

