<h1>My <em>Resume</em></h1>
<p>Being able to describe a person on 1-2 (maybe 3?) pages is nearly impossible. That's why I think the value of a resume is shrinking daily. As an executive, I know that I look at resumes for a maximum of 10-15 seconds before coming to a conclusion. I then might use "important" details such as proximity to the office and points to start conversations.</p>

<p>Below is hopefully the <a href="jesse-wolgamott.doc">last resume</a> I'll ever put together. It's my hope that this site gives you more insight into me than anything I could put together in Word.</p>

<div class="content_left">
<h4>Recommendations</h4>
 <blockquote>
    <p>Jesse is one of the few programmers that I have worked with who not only is a whiz on the tech side but also has a fantastic personality and sense of humor. This was integral to our business since we were better able to communicate our client's needs for the system and he translated them faster to the other programmers.</p>
</blockquote>
<cite><strong>Joe Holland</strong>,<br />Director Sales and Marketing,<br />promoOrder (colleague).</cite>
</div>

<div class="content_right">
<h4>Snapshot</h4>
<p>	Grew revenues 60% in 3 years of executive management, delivering 99.99% system availability. Key player in technical design and business management of flagship product, WebCOBRA, representing 75% of sales.  </p>

<p>Software Developer with 10 years experience developing high available systems; 3 years of production Agile Software Development. </p>
</div>

<br clear="all"/>
<h4>View Resume Online</h4>
<p>
<a href="http://www.linkedin.com/in/jessewolgamott" >
          <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.gif" width="160" height="33" border="0" alt="View Jesse Wolgamott's profile on LinkedIn"></a> View online LinkedIn Profile at <a href="http://www.linkedin.com/in/jessewolgamott" >http://www.linkedin.com/in/jessewolgamott</a>
    
</p>
<br/>

<h4>Download Resume</h4>
<p>
Resumes for: 
<a href="jesse-wolgamott.doc">Executive Manager, Product Manager</a> |
<a href="jesse-wolgamott-developer.doc">Software Developer</a> 
</p>
