<h1>Statistics</h1>
<h3>Math Doesn't Lie</h3>
<p>I love statistics. Walk around a programmer bullpen and you are likely to hear me say "Math doesn't lie." When programmers aren't sure what path to take I'll tell them to add more logging, gather statistics, and let the math decide.</p>

<ul>
	<li>Grew revenues 60% in 3 years of executive management, delivering 99.99% system availability.</li>
	<li>In same timeframe of doubling the sales of the company, our costs (number of employees) stayed flat.</li>
	<li>Key player in technical design and business management of flagship product, WebCOBRA, representing 75% of sales.</li>
	<li>Saved $175K in customer service expenses</li>
	<li>Maintained 99%+ uptime of WebCOBRA since inception, 4+ years.</li>
</ul>
