/*----------------- [Reset] ---------------------*/
/*-----------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* remember to define focus styles! */
:focus               { outline:0; }
body                 { line-height:1; color:black; background:white; }
ol, ul               { list-style: none; }

strong               { font-weight:bold; }

/* tables still need 'cellspacing="0"' in the markup */
table                { border-collapse: separate; border-spacing: 0; }
caption, th, td      { text-align: left; font-weight: normal; }
blockquote:before, 
blockquote:after,
q:before, q:after    { content: ""; }
blockquote, q        { quotes: "" ""; }


/*----------------- [Commons] ---------------------*/
/*-------------------------------------------------*/
a						{ color:#2F88A6; }
a:hover					{ color:#ED384B; }
.left                   { float:left; }
.right                  { float:right; }
.nodisplay              { display:none; }
.invisible              { visibility: hidden; }
.noborder               { border:0; }
.strong                 { font-weight:bold; }
.aligncenter            { text-align:center; }
.alignright             { text-align:right; }
* html .hide-x          { overflow-x:hidden; }

.clearfix:after         { clear: both; content: " ";  display: block; height: 0; visibility:hidden; }
.clearfix               { display:inline-block; }

/* Hides from IE-mac \*/
* html .clearfix        { height: 1%; }
.clearfix               { display: block; }
/* End hide from IE-mac */


/*----------------- [General] ---------------------*/
/*-------------------------------------------------*/
body									{ font:normal 13px/20px Arial, Helvetica, sans-serif; color:#573404; background:#faf7e0 url(../images/bg.jpg) center top fixed; }

#nav									{ background:#51AFCE; margin-bottom:40px; }
#nav ul									{ width:710px; margin:0 auto; overflow:hidden; padding-left:250px; }
#nav ul li								{ float:left; font:normal 11px/16px Arial, Helvetica, sans-serif; text-transform:uppercase; margin-right:20px; }
#nav ul li a							{ color:#DCEFF5; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.3); padding:12px 0; text-decoration:none; display:block; background:url(../images/nav-active.png) no-repeat 0 -4px; }
#nav ul li a:hover,
#nav ul li a.active						{ color:#FFF; background-position:center bottom;  }
#nav ul li a.active						{ font-weight:bold; }

#wrapper								{ width:710px; margin:0 auto; overflow:hidden; padding-left:250px; position:relative; }
#sidebar								{ width:210px; float:left; margin-left:-250px; }
/*h1										{ background:url(../images/logo.png) no-repeat right top; margin-bottom:10px; }
h1 a									{ display:block; height:51px; text-indent:-9999px; }
*/
#sidebar address						{ font:normal 11px/16px tahoma, arial, sans-serif; color:#ED384B; border-top:1px dotted #AA987D; border-bottom:1px dotted #AA987D; padding:2px 0; text-align:center; text-align:right; }

#content-wrapper						{ width:710px; overflow:hidden; }

h1, h2										{ font:normal 56px/52px "museo 300", "trebuchet MS", arial, sans-serif; color:#51AFCE; margin-bottom:10px; }
h1 em, h2 em									{ color:#ED384B; font-style:normal; }
h3										{ font:normal 21px/32px "museo 300", "trebuchet MS", arial, sans-serif; color:#573404; margin-bottom:20px; }
h3 a									{ display:-moz-inline-block; display:inline-block; background:#ED384B; color:#FFF; text-decoration:none; padding:0 10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -webkit-transition: background 0.25s ease-in; }
h3 a:hover								{ background:#51AFCE; color:#FFF; }

h3 a.active								{ background:#51AFCE; color:#FFF; }
h3 a.active:hover						{ display:-moz-inline-block; display:inline-block; background:#ED384B; color:#FFF; text-decoration:none; padding:0 10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -webkit-transition: background 0.25s ease-in; }


#next-step								{ background:#51AFCE; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:20px; margin-bottom:40px; }
#next-step h3							{ float:left; margin:0 10px 0 0; }
#next-step h3 a							{ display:block; background:rgba(0, 0, 0, 0.3); -webkit-transition: background 0.3s ease-in; }
#next-step h3 a:hover					{ background:rgba(0, 0, 0, 0.5); }
#next-step p							{ font-size:15px; color:#FFF; padding:5px 0 0 0; text-shadow:0px 1px 1px rgba(0, 0, 0, 0.5) }
#next-step p a							{ color:#FFF; }

#main-content							{ margin-bottom:40px; }
.content_left							{ width:335px; float:left; margin:0 40px 0 0; }
blockquote								{ /*background:url(../images/quotes.png)*/ no-repeat; padding-top:24px; margin-top:-24px; position:relative; font-style:italic; }
cite									{ display:block; font-style:normal; padding-bottom:18px; }
.content_right							{ width:335px; float:right; }
h4										{ font-size:11px; line-height:16px; text-transform:uppercase; letter-spacing:3px; border-bottom:1px dotted #AA987D; margin-bottom:10px; }
#content-wrapper ul li					{ background:url(../images/bullet.gif) no-repeat 0 8px; padding-left:20px; }

ol {list-style: decimal inside}

#content-wrapper ul, .content_left p,
.content_right p						{ padding-bottom:18px; }

#footer									{ width:100%; overflow:hidden; color:#80653C; border-top:1px dotted #AA987D; margin-top:28px; padding:10px 0; font-size:11px; line-height:16px; }

#content-wrapper p, #content-wrapper li						{font-size: 1.2em; padding-bottom: 20px}